.Container {
    border-left: 1px solid rgb(206, 204, 204);
    border-right: 1px solid rgb(206, 204, 204);
    margin: 0 0 0 15%;
    max-width: 60%;
    height: fit-content;
    color: rgb(206, 204, 204);
    text-align: left;
    -webkit-flex: 3 0;
    flex: 3 0;
}

.EmptyLine {
    margin: 0 auto !important;
    padding: 3% 5%;
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EmptyLine svg {
    height: 30%;
    width: 25%;
}

.EmptyLine h3 {
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
}

.AboutMe {
    color: black;
    font-size: 16px !important;
}

.TabsContainer {
    margin: 0px 10px;
}

.Tab {
    min-width: unset !important;
    color: black !important;
    max-width: unset !important;
    border: none !important;
    margin-left: 20px;
}

.Left40 {
    left: 40% !important;
}

.Ver {
    transition: all ease 0.3s;
    flex: 1 0;
    text-align: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Ver svg {
    cursor: pointer;
    height: 50px;
    width: auto;
    transition: color ease 0.7s;
}

.Ver svg:hover {
    color: rgb(73, 73, 248);
}

.Container span {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.Back {
    background-image: url("./img/luxfon.com-4767.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 38%;
    background-color: #ccc;
    transition: all ease 0.7s;
    cursor: pointer;
}

.FlexColl {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px 5%;
    transition: all ease 0.7s;
}

.Container .FlexColl h3 {
    margin-top: unset !important;
}

.CommonIcon {
    font-size: 16px;
    margin-right: 10px;
}

.PostCount {
    font-size: 13px;
    cursor: pointer;
    color: rgb(73, 73, 248);
}

.FirstLine {
    position: relative;
    display: flex;
    margin: 2% 3%;
    justify-content: flex-end;
    min-height: 80px;
}

.FirstLine img {
    transition: all ease 0.7s;
    cursor: pointer;
    height: 200px;
    width: 200px;
    position: absolute;
    top: -140%;
    object-fit: cover;
    object-position: center;
    left: 0;
    background-color: aliceblue;
    border: 5px solid;
    border-radius: 20%;
    box-shadow: 0 5px 30px 0 rgb(107 159 199 / 34%);
}

.FirstLine img:hover {
    opacity: 0.9;
    border-color: darkkhaki;
}

.Back:hover {
    opacity: 0.9;
    border-color: darkkhaki;
}

.FirstLine button {
    transition: all ease 0.7s;
    font-weight: bold;
    height: fit-content;
    border: 1px solid rgb(108, 108, 195) !important;
    color: rgb(73, 73, 248) !important;
    border-radius: 20px;
    display: flex !important;
    align-items: center;
}

.FirstLine button:hover {
    background-color: rgb(206, 225, 255);
}

.SecondLine {
    display: flex;
    flex-direction: column;
}

.UsersPost {
    display: flex;
    color: black;
    border-bottom: 1px solid rgb(166 162 162);
    padding: 10px;
    transition: all ease 0.7s;
    cursor: pointer;
}

.ProfileEmotions {
    display: flex;
}

.ProfileEmotions p {
    margin: 0px 10px !important;
}

.ProfileEmotions svg {
    height: 22px;
    width: 22px;
}

.ProfileEmotions svg {
    padding: 4px;
}

.metaBar {
    display: flex;
    align-items: baseline;
    margin-bottom: 5px !important;
}

.postContent {
    font-size: 16px !important;
}

.metaBar h6 {
    font-weight: bold;
    margin-right: 15px;
}

.Black {
    color: black !important;
    font-size: 20px;
    margin-right: 10px;
}

.LastLine {
    display: flex;
    justify-content: flex-start;
    max-height: 20px;
}

.LastLine span {
    margin: 10px;
    cursor: pointer;
}

.LastLine span:hover {
    color: rgb(73, 73, 248);
}

.SecondLine a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(105, 157, 226);
}

.SecondLine a:hover {
    color: rgb(73, 73, 248);
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}

.lds-ellipsis-table {
    width: 130px;
    height: 0px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #363434;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

.lds-ellipsis div:nth-child(5) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

.lds-ellipsis div:nth-child(6) {
    left: 76px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}


.ConfirmLine {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: baseline;
    overflow: unset;
}


.CommonIcon span {
    height: 20px;
    padding: 15px 10px;
}

.ConfirmLine input {
    margin: 5%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #8181dc;
    outline: none;
    color: grey;
}

@media (min-width: 2201px) {
    .Container {
        font-size: 33px;
    }

    .PostCount {
        font-size: 26px;
    }

    .CommonIcon {
        font-size: 30px;
    }

    .FirstLine button {
        font-size: 30px;
        max-width: unset;
    }

    .Black {
        font-size: 43px;
    }

    .ConfirmLine input {
        font-size: 26px;
    }
}

@media (max-width: 2200px) {
    .Container {
        font-size: 20px;
    }

    .FlexColl {
        font-size: 26px;
    }

    .PostCount {
        font-size: 16px;
    }

    .CommonIcon {
        font-size: 23px;
    }

    .FirstLine button {
        font-size: 20px;
    }

    .Black {
        font-size: 30px;
    }
}

@media (max-width: 1800px) {
    .Ver svg {
        height: 40px;
    }

    .ConfirmLine input {
        font-size: 16px;
    }

    .PostCount {
        font-size: 13px;
    }

    .FirstLine button {
        font-size: 16px;
        padding: 10px 15px;
    }

    .CommonIcon {
        font-size: 20px;
    }

    .FlexColl {
        font-size: 20px;
    }

    .Back {
        font-size: 23px;
    }
}

@media (max-width: 1024px) {
    .Ver svg {
        height: 30px;
    }

    .Container {
        max-width: unset;
    }
}

@media (max-width: 768px) {
    .Container {
        margin: unset;
        max-width: unset;
        min-height: 800px;
    }

    .FirstLine img {
        height: 165px;
        width: 165px;
        top: -110%;
    }
}

@media (max-width: 475px) {
    .Container {
        margin: unset;
        max-width: unset;
    }

    .FirstLine img {
        height: 135px;
        width: 135px;
        top: -75%;
    }

    .FlexColl {
        font-size: 13px;
    }

    .PostCount {
        font-size: 10px;
    }

    .FirstLine button {
        padding: 5px 10px;
        justify-content: space-around;
    }

    .ConfirmLine {
        align-items: center;
    }

    .ConfirmLine input {
        width: 70px;
        font-size: 10px;
        height: min-content;
    }
}