.NavBar {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background-color: white;
    height: -webkit-fill-available;
    width: 15%;
    padding: 10px 0px;
    justify-content: space-between;
}

.NavBar p {
    margin: 10px !important;
}

.NavBar > div p:last-of-type {
    display: flex;
    align-items: center;
    justify-content: end;
}

.NavBar > div p:first-of-type {
    display: flex;
    align-items: center;
    justify-content: end;
}

.userInfo {
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    padding: 7px 5px;
    transition: all ease 0.5s;
    align-items: center;
    justify-content: inherit;
    margin: 10px;
}

.userInfo span {
    font-size: 11px!important;
}

.userInfo > p {
    flex-direction: column;
    margin: 0px 0px 0px 10px !important;
    align-items: baseline;
}

.userInfo > p > span:first-of-type {
    margin-bottom: 3px;
}

.userInfo > span {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.userInfo:hover {
    background-color: rgb(203, 203, 243);
    border: 1px solid rgb(157 157 240);
}

.userInfo h2 {
    font-size: 18px;
    overflow: hidden;
}

.PostModal {
    cursor: pointer;
    transition: all ease 0.3s;
    position: absolute;
    top: 0;
    z-index: 10;
    left: 0;
    padding: 5% 20%;
    background-color: #cbcbf3a4;;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.PostModal > div {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 5px 10px 0 rgb(0, 130, 231, 20%);
    max-height: 500px;
    overflow: auto;
}

.userInfo p {
    font-size: 13px;
}

.NavBar > div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.NavBar a:first-of-type {
    padding: 0px;
    margin: 0px;
    height: 32px;
}

.NavBar a:first-of-type img {
    width: 32px;
    margin: 0px 10px;
}

.NavBar a {
    display: flex;
    align-items: center;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 7px 14px;
    text-align: start;
    cursor: pointer;
    position: relative;
    width: fit-content;
    border: 1px solid transparent;
}

.NavBar a svg {
    margin-right: 10px;
    border-radius: 50%;
}

.NavBar a:hover, .LeaveBtn:hover {
    color: rgb(73, 73, 248);
    /*background-color: rgb(203, 203, 243);*/
    border-radius: 25px;
    cursor: pointer;
    /*border: 1px solid rgb(73, 73, 248);*/
}

.LeaveBtn {
    min-width: unset !important;
    max-width: unset !important;
    border: none !important;
    width: fit-content;
    font-weight: bolder !important;
    padding: unset !important;
    margin: unset !important;
    text-align: left !important;
    font-size: 13px !important;
    border: 1px solid transparent !important;
    display: flex !important;
    align-items: center !important;
}

.LeaveBtn svg {
    min-width: 20px !important;
}

.UserPortal {
    min-width: 20%;
    position: fixed;
    bottom: 10%;
    height: min-content !important;
    cursor: pointer;
    background: rgb(203, 203, 243);
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgb(165 216 255 / 80%);
}

.UserPortal p {
    width: -webkit-fill-available;
    padding: 5% 10%;
    border-bottom: 1px soid #a6c3f7;
}

.UserPortal > div {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
}

.UserPortal > div > div {
    display: flex;
    flex-direction: column;
}

.UserPortal > div > div:first-of-type {
    margin-right: 12px
}

.UserPortal > div > div:last-of-type {
    height: 100%;
    width: 100%;
    align-items: end;
}

.UserPortal p:last-of-type {
    border-bottom: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.UserPortal h2 {
    width: -webkit-fill-available;
    text-align: left;
    padding-left: 10%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: unset !important;
}

#Controle:hover {
    background-color: #a4a4f7;
}

#Controle {
    margin: unset !important;
    justify-content: flex-start;
    transition: all ease 0.5s;
}

.ActivePage {
    color: rgb(73, 73, 248) !important;
    border-bottom: 1px soid #a6c3f7 !important;
}

.ActivePage svg {
    box-shadow: 0px 0px 8px 0px rgb(107 159 199 / 34%);
}

#PostBtnS {
    display: none;
    border-radius: 50%;
    background-color: rgb(79, 141, 255);
    cursor: pointer;
    padding: 5px;
    margin: 5px 15px !important;
    height: 40px;
    color: white;
}

#PostBtnS:hover {
    background-color: rgb(0, 89, 255);
}

.PostBtn {
    padding: 10px !important;
}

@media (max-width: 1900px) {
    .NavBar svg {
        width: auto;
        height: 30px;
    }

    .userInfo h2 {
        font-size: 23px;
    }

    .userInfo p {
        font-size: 16px;
    }

    .NavBar > div:first-of-type {
        height: unset;
        justify-content: space-around;
    }

    .NavBar a:first-of-type img {
        width: 40px;
    }

    .NavBar div:first-of-type a {
        padding: 7px;
    }

    .NavBar a:first-of-type {
        font-size: 16px;
    }

    .PostBtn {
        font-size: 16px;
    }

    .NavBar span {
        font-size: 16px;
    }
}

@media (min-width: 1901px) {
    .NavBar svg {
        width: auto;
        height: 46px;
    }

    .userInfo h2 {
        font-size: 30px;
    }

    .NavBar a:first-of-type img {
        width: auto;
        height: 50px;
    }

    .LeaveBtn {
        font-size: 26px !important;
    }

    .userInfo p {
        font-size: 23px;
    }

    .PostBtn {
        font-size: 26px;
    }

    .NavBar div:first-of-type {
        height: 40%;
        justify-content: space-around;
    }

    .NavBar div:first-of-type a {
        font-size: 30px;
    }
}

@media (max-width: 1440px) {
    .NavBar svg {
        height: 20px;
    }

    .userInfo h2 {
        font-size: 20px;
    }

    .userInfo p {
        font-size: 16px;
    }

    .NavBar > div:first-of-type {
        height: unset;
        justify-content: space-around;
    }

    .NavBar div:first-of-type a {
        padding: 7px;
    }

    .NavBar a:first-of-type img {
        width: 30px;
    }

    .NavBar a:first-of-type {
        font-size: 13px;
    }

    .PostBtn {
        font-size: 13px;
    }

    .NavBar span {
        font-size: 13px;
    }

    .userInfo h2 {
        font-size: 20px;
    }

    .userInfo p {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .userInfo > span {
        display: none;
    }
}

@media (max-width: 1024px) {

    #PostBtnS {
        display: block;
    }

    .userInfo {
        display: none;
    }

    .PostBtn {
        display: block;
    }

    .PostModal {
        padding: 5% 10%;
    }

    .NavBar div:first-of-type {
        height: unset;
    }

    .NavBar div:first-of-type a {
        padding: 7px;
    }

    .PostBtn {
        display: none;
    }
}

@media (max-width: 768px) {
    .NavBar {
        height: 7%;
        flex-direction: row;
        width: -webkit-fill-available;
        top: 93%;
        background-color: aliceblue;
        padding: unset;
    }

    .NavBar div p {
        height: unset;
    }

    .LeaveBtn {
        width: 36px;
        height: 32px;
    }

    .NavBar svg {
        margin: 0px !important;
    }

    .userInfo {
        display: none;
    }

    .NavBar div:first-of-type {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }

    .NavBar div:first-of-type a {
        padding: 7px;
    }

    .logotype {
        display: none !important;
    }

    .PostBtn {
        display: none;
    }

    .NavBar span {
        display: none;
    }
}