.messenger {
    border-left: 1px solid rgb(206, 204, 204);
    border-right: 1px solid rgb(206, 204, 204);
    text-align: left;
    -webkit-flex: 3 0;
    flex: 3 0;
    display: flex;
}

.TipLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TipLine p {
    padding: 5px;
}

.TipLine p span {
    margin: 5px;
    padding: 11px 0px;
    border-radius: 50px;
}

.TipLine p span:first-of-type {
    box-shadow: rgba(0, 128, 0, 0.8) 0px 0px 8px 0px;
}

.TipLine p span:last-of-type {
    box-shadow: rgba(255, 0, 0, 0.8) 0px 0px 8px 0px;
}

.TipLine svg {
    font-size: 26px;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease 0.5s;
}

.TipLine svg:hover {
    background-color: rgb(203, 203, 243);
}

.noConversationImage {
    position: absolute;
    top: 100%;
    margin: 15px;
    font-size: 185px;
    color: rgb(224, 220, 220);
    cursor: default;
    left: calc(50% - 92.5px);
}

.deleteExistingFriend {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
}

.mainMessagesCaver {
    height: 88%;
    max-height: 720px;
}

.chatUpdateModal {
    display: flex;
    align-items: center;
    width: 100%;
}

.chatUpdateModal p {
    border-top: unset !important;
}

.chatPostBtn {
    padding: 10px;
    display: flex;
    margin: 5px;
    border-radius: 50px;
    border: 1px solid;
    cursor: pointer;
    position: relative;
}

.conversation {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: all ease 0.5s;
    border-radius: 5px;
    position: relative;
    background: #7986cb;
    max-height: 85px;
}

.deleteExistingFriend + div {
    width: 80px;
    min-height: 60px !important;
}

.deleteExistingFriend + div > div {
    margin: unset !important;
    height: 60px;
    width: 60px;
}

.closedFriendPin {
    background-color: gray;
    opacity: 0.5;
    pointer-events: none;
}

.approvalIsRequired {
    color: red;
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.matesActions {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.matesActions span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
    background: #6162623b;
    border-radius: 2px;
    padding: 2px 5px;
    transition: all ease 0.5s;
}

.matesActions span:hover {
    background: rgba(121, 134, 203, 0.7);
}

.matesActions span:first-of-type:hover {
    color: red;
}

.currentChat > div {
    box-shadow: rgb(33 119 232 / 80%) 0px 0px 8px;
}

.lonelyLine {
    color: rgb(224, 220, 220);
    font-size: 26px;
    display: flex;
    align-items: center;
}

.noMessagesLabel {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #8b8f8f94;
}

.matesActions span:last-of-type:hover {
    color: green;
}

.matesActions span svg {
    margin-right: 5px;
    font-weight: bold !important;
}

.lockedFriendPin {
    position: absolute;
    top: 10px;
    right: 10px;
}

.conversation:hover {
    opacity: 0.7;
}

.conversationImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.conversationName {
    font-weight: 600;
    font-size: 16px;
}

.chatMenu {
    flex: 3.5;
}

.chatMenuInput {
    width: 100%;
    outline: none;
    border: 1px solid #eaeaea;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    transition: all ease 0.5s;
}

.chatBox {
    flex: 5.5;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-top: 1px solid #ccc;
}

.chatBoxTop {
    height: 98.7%;
    overflow-y: scroll;
}

.chatBoxTop > div {
    padding-right: 10px;
    padding-left: 10px;
}

.messagesLoader {
    height: calc(753px - 100px - 120px);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background: gray;
    z-index: 1;
    opacity: 0.6;
}

.chatLoader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messageTop {
    display: flex;
}

.messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageText {
    padding: 5px 5px 0px 5px;
    border-radius: 5px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
    min-width: 300px;
    position: relative;
}

.messageText svg {
    color: black;
    cursor: pointer;
    position: relative;
}

.messageText svg:hover {
    opacity: 0.7;
}

#dropStylesForMessagesActions {
    padding: unset !important;
    width: 21px;
    height: 21px;
    max-width: 21px !important;
    min-width: 2px !important;
    border: unset !important;
}

.chatActionsBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid;
}


.ChatDayShowContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ChatDayShow {
    background: rgb(203, 203, 243);
    padding: 5px 25px;
    border-radius: 27px;
    color: white;
}

.chatActionsBar svg {
    margin: 0px 3px;
    padding: 0px 3px;
    height: 21px;
    width: 21px;
}

.messageBottom {
    font-size: 12px;
    margin-left: 8px;
    border-left: 1px solid;
}

.message.own {
    align-items: flex-end;
}

.message.own .messageText {
    background-color: rgb(245, 241, 241);
    color: black;
    min-width: 70px;
}

.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
}

.chatOnline {
    flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
    padding: 10px;
    height: 100%;
}

.noConversationText {
    position: absolute;
    top: 10%;
    margin: 15px;
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
}

.chatModeLine {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.activeChatMode {
    color: black !important;
}

@media screen and (max-width: 768px) {
    .chatBoxTop {
        height: 98.1%;
    }

    .chatMenuWrapper {
        max-height: 115px;
        overflow: auto;
    }

    .chatMenu {
        flex: 2 1;
    }

    .messenger {
        margin: unset;
        flex-direction: column;
    }

    .approvalIsRequired {
        font-size: 10px;
        bottom: 2px;
    }

    .chatMenuInput {
        display: none;
    }

    .chatBox {
        flex: 10;
    }

    .chatOnline {
        flex: 1px;
    }

    .messageText {
        min-width: unset;
    }

    .mainMessagesCaver {
        height: calc(753px - 100px - 120px);
    }

    .chatBoxBottom {
        align-items: center;
    }

}