.Container p {
    padding: 10px;
    border-top: 1px solid rgb(206, 204, 204);
}

.Container button {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.ImagePreviewContainer {
    display: flex;
    flex-wrap: wrap;
}

.ImagePreviewContainer > div {
    flex: 1 0 40%;
    position: relative;
}

.ImagePreviewContainer > div > div {
    flex: 1 0 40%;
    min-height: 300px;
    border-radius: 5px;
    margin: 10px;
    width: 95%;
}

.ImagePreviewContainer > div > div img {
    object-position: top;
    cursor: pointer;
    transition: all ease 0.7s;
}

.CloseBtn {
    position: absolute;
    top: 5%;
    height: 21px;
    width: 21px;
    font-size: 20px;
    right: 4%;
    cursor: pointer;
}

.ImagePreviewContainer > div img:hover {
    opacity: 0.7;
}

.Container button svg {
    height: 18px;
    width: 18px;
}

.InputPostText {
    resize: vertical;
    width: -webkit-fill-available;
    outline: none;
    color: grey;
    font-size: 16px;
    min-height: 75px;
    padding: 5px;
    border: none;
}

.RedButton {
    background: #FF0000FF !important;
}

.YellowButton {
    background: #FFA500FF !important;
}

.GreenButton {
    background: #008000FF !important;
}

.BlueButton {
    background: #0a00ce !important;
}

.CoralButton {
    background: #FF7F50FF !important;
}

.GoldButton {
    background: #bd9d33 !important;
}

.SkyButton {
    background: #2177e8 !important;
}

.PurpleButton {
    background: #b32dd2 !important;
}

.InputPostText::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

.InputPostText::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

.InputPostText::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #57b5f3;
}

.Container p {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 2100px) {
    .InputPostText {
        font-size: 30px;
        padding: 20px 30px;
    }

    .Container p {
        padding: 30px 25px;
    }
}


@media (max-width: 2099px) {
    .InputPostText {
        font-size: 26px;
        padding: 20px 30px;
    }

    .Container p {
        padding: 30px 25px;
    }
}

@media (max-width: 1700px) {
    .InputPostText {
        font-size: 20px;
        padding: 13px 23px;
    }

    .Container p {
        padding: 20px 15px;
    }
}