.Container {
    margin: 0px 0px 0px 15%;
    flex: 3 0;
    max-width: 85%;
    height: -webkit-fill-available;
    border-left: 1px solid rgb(206, 204, 204);
    border-right: 1px solid rgb(206, 204, 204);
}

.MusicContainer {
    margin: 0px 5%;
    border: 1px solid;
}

.Player {
    height: 40px !important;
    width: 100% !important;
}

video {
    width: 90% !important;
    height: 40px !important;
    margin: 50px 5% 0px 5%;
}

.MusicContainer ul {
    margin-bottom: 0px;
    max-height: 400px;
    overflow: auto;
}

.MusicTip {
    color: rgb(0 0 0 / 50%) !important;
    margin-top: 1%;
    transition: all ease 0.5s;
}

.HideTipTransform {
    transform: translateY(-250px);
}

.TracksHeader {
    display: flex;
    padding: 10px;
    font-weight: 600;
    border-bottom: 1px solid;
    color: black;
    background: rgb(203, 203, 243);
}

.SearchBar {
    display: flex;
    margin: 10px;
}

.SearchBar input {
    display: block;
    transition: all ease 0.5s;
    position: relative;
    overflow: hidden;
    text-align: left;
    padding: 10px 5px;
    box-sizing: border-box;
    color: #4b4b4b;
    background-color: #fff;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 400;
    min-width: 0;
    outline: none;
    width: 100%;
    margin: 0px 4%;
    border: 1px solid #eaeaea;
}

.Track {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all ease 0.5s;
    cursor: pointer;
    border-top: 1px solid rgb(206, 204, 204);
}

.TrackName {
    flex: 5 0;
    border-right: 1px solid rgb(115 113 113);
    overflow: hidden;
}

.TrackCategory {
    flex: 5 0;
    border-right: 1px solid rgb(115 113 113);
}

.TrackIndex {
    font-weight: 600;
    flex: 1 0;
    border-right: 1px solid rgb(115 113 113);
}

.TrackActions {
    display: flex;
    flex: 1 0;
    justify-content: space-evenly;
    align-items: center;
    border-left: 1px solid rgb(206, 204, 204);
    height: 20px;
}

.playerWrapper {
    position: relative;
    flex: 8 0;
    height: 75px;
}

.PlayerActions {
    display: flex;
    justify-content: space-evenly;
    flex: 4 0;
}

.UploadContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.PlayerActions span {
    border-radius: 4px;
    border: 1px solid;
    padding: 7px 5px;
    cursor: pointer;
    height: fit-content;
    transition: all ease 0.7s;
}

.PlayerActions span:hover {
    opacity: 0.7;
}

.reactPlayer {
    position: absolute;
    top: 0;
    left: 0;
}

.reactPlayer video {
    width: 100% !important;
    height: 65px !important;
}

.HideTipFully {
    height: 0px !important;
    margin: 0px !important;
}


.MusicTip svg {
    height: 155px;
    width: 155px;
}

.TrackUpdateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TrackTextarea {
    display: block;
    transition: all ease 0.5s;
    font-size: 19px;
    position: relative;
    width: 95%;
    overflow: hidden;
    text-align: left;
    padding: 10px 5px;
    box-sizing: border-box;
    color: #4b4b4b;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    font-family: sans-serif;
    font-weight: 400;
    min-height: 75px;
    min-width: 0;
    outline: none;
    border: 1px solid #eaeaea;
}

@media (max-width: 768px) {
    .Container {
        max-width: 100%;
        margin: unset;
    }

    .PlayerActions {
        justify-content: space-around;
        width: 250px;
    }

    .reactPlayer {
        height: 1px !important;
    }

    .playerWrapper {
        width: 95%;
    }
}