.Container {
    -webkit-flex: 3 0;
    flex: 3 0;
    max-width: 80%;
}

.ActionLine {
    display: flex;
    padding: 1% 5%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ActionLine button {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.ActionLine svg {
    height: 18px;
    width: 18px;
}

.Item {
    border-bottom: 1px solid #cecccc;
    display: flex;
    cursor: pointer;
    transition: background-color ease 0.5s;
}

.Item:nth-child(2n) {
    background-color: #f6f2ff;;
}

.Item:hover {
    background-color: #d6cbf0 !important;
    color: #c0bebe;
}

.Item h3 svg {
    font-size: 20px;
    color: #4949f8;
    margin-left: 5%;
}

.Item h3 {
    display: flex;
    align-items: center;
    margin-top: 0px;
}

.Item h3:hover a {
    color: rgb(73, 73, 248) !important;
}

.Item > div {
    text-align: left;
    padding: 1%;
    position: relative;
}

.Item img {
    height: 130px;
    box-shadow: 0 5px 10px 0 rgb(107 159 199 / 34%);
    border-radius: 5px;
}

.CreatedDate {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5px;
    min-width: 125px;
}

.CreatedDate span {
    font-size: 13px !important;
}

.CreatedDate svg {
    margin-right: 3px;
}

.Item > div span {
    display: flex;
    align-items: center;
}

.Item > div span svg {
    font-size: 20px;
    margin-right: 5px;
}

.Item span {
    padding: 0.1% 1%;
    font-size: 10px;
    color: gray;
}

.Item span:hover {
    color: rgb(73, 73, 248);
}

.Item span:hover a {
    color: rgb(73, 73, 248);
}

.Item .users_a {
    transition: all ease 0.3s;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.FindUserLine {
    padding: unset;
}

.UsersCont {
    transition: all 0.3s ease 0s;
    height: 78%;
    overflow-y: scroll;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f6f2ff;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #f6f2ff;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b9def7;
}

.Hide {
    transform: translateY(70%);
}

.FullHeight {
    height: 89% !important;
}

.FindUserLine > div {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.FindUserLine input {
    flex: 1;
    height: min-content;
    border: none;
    color: gray;
    border-bottom: 1px solid #4949f8;
    outline: none;
    background-color: transparent;
    width: 100%;
    padding-left: 10px;
}

.ThisIsYouLabel {
    position: absolute;
    top: 5px;
    color: red !important;
}

.FindUserLine span {
    padding: 5px 10px;
    margin: 5px 0px;
}

@media (min-width: 2201px) {
    .Item span {
        font-size: 20px;
    }

    .FullHeight {
        height: 89% !important;
    }

    .UsersCont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .Item h3 svg {
        width: auto;
        height: 36px;
    }

    .Item h3 {
        font-size: 36px;
    }

    .Item > div span {
        font-size: 26px;
    }

    .Item > div span svg {
        width: auto;
        height: 30px;
    }
}

@media (max-width: 2200px) {
    .FullHeight {
        height: 89% !important;
    }

    .Item span {
        font-size: 20px;
    }

    .Item h3 svg {
        width: auto;
        height: 33px;
    }

    .Item h3 {
        font-size: 33px;
    }

    .Item > div span {
        font-size: 26px;
    }

    .Item > div span svg {
        width: auto;
        height: 30px;
    }
}

@media (max-width: 1800px) {
    .FullHeight {
        height: 84% !important;
    }

    .Item span {
        font-size: 16px;
    }

    .Item h3 svg {
        width: auto;
        height: 26px;
    }

    .Item h3 {
        font-size: 26px;
    }

    .Item > div span {
        font-size: 20px;
    }

    .Item > div span svg {
        width: auto;
        height: 26px;
    }
}

@media (max-width: 1440px) {
    .FullHeight {
        height: 89% !important;
    }

    .Item span {
        font-size: 16px;
    }

    .Item h3 {
        font-size: 23px;
    }

    .Item > div span {
        font-size: 16px;
    }

    .Item > div span svg {
        width: auto;
        height: 23px;
    }
}

@media (max-width: 1024px) {
    .FindUserLine {
        width: 85%;
    }

    .FullHeight {
        height: 89% !important;
    }

    .Container {
        max-width: unset;
    }

    .Item span {
        font-size: 13px;
    }

    .Item h3 {
        font-size: 20px;
    }

    .Item > div span {
        font-size: 13px;
    }

    .Item > div span svg {
        height: 20px;
        width: auto;
    }
}

@media (max-width: 768px) {
    .FullHeight {
        height: 82% !important;
    }

    .FindUserLine {
        padding: unset;
        position: absolute !important;
        display: flex;
        width: 99.8% !important;
        background-color: #f6f2ff;
        align-items: center;
        box-shadow: 0px 0px 8px 0px rgb(107 159 199 / 80%);
    }

    .FindUserLine div {
        padding-top: unset !important;
        flex: 1;
    }

    .FindUserLine input {
        margin-right: 10px;
        margin-left: 10px;
    }

    .FindUserLine span {
        display: flex;
        align-items: center;
        padding: 5px 15px;
        margin: 10px;
    }

    .FindUserLine div:last-of-type {
        flex-direction: row;
        flex: 2;
        align-items: center;
    }

    .Container {
        margin: unset;
        max-width: unset;
    }

    .Item h3 {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .FullHeight {
        height: 83% !important;
    }

    .Container {
        margin: unset;
        max-width: unset;
    }

    .Item {
        flex-wrap: wrap;
    }

    .Item h3 {
        font-size: 13px;
    }
}