.Container{
    height: 100%;
    width: 85%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction:column;
    border-left: 1px solid rgb(206, 204, 204);
}

.Container span{
    color: rgb(214, 114, 114);
}

.Container a {
    color: #060680;
    text-decoration: none;
    transition: color ease 0.7s;
}

.Container p{
    color: #0000ff;
}

.Container a:hover{
    color: #0b0bcc;
}

.Container h1{
    padding: 15px;
}