.CommentLine {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding: 1px 5px;
    border: 1px solid #ccc;
    background: aliceblue;
    transition: all ease 0.3s;
}

.CommentSendButton {
    position: absolute!important;
    padding: 1px!important;
    font-size: 26px!important;
    border: 1px solid!important;
    border-radius: 50%!important;
    cursor: pointer!important;
    top: 37px;
    right: 12px;
}

.OnePost {
    display: flex;
}

.Comments {
    max-height: 600px;
    min-height: 500px;
    overflow: auto;
}

.Comments > div {
    position: relative;
    text-align: left;
    padding: 1% 5%;
    border-bottom: 1px solid;
}

.Comments > div:last-of-type {
    border-bottom: none;
}

.Comments h2 {
    font-size: 16px;
}

.Comments span {
    position: absolute;
    top: 1%;
    right: 1%;
    color: gray;
    font-size: 13px;
}

.Comments p {
    padding: 0% 1%;
}

.Container {
    min-height: 753px;
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.Container > div:nth-child(2) {
    height: auto;
    overflow: auto;
}

.CommentLine textarea {
    flex: 6 0;
    margin: 0% 5%;
    min-height: 75px;
    outline: none;
    border: 1px solid #ccc;
    background: transparent;
    color: gray;
    font-size: 16px;
}

.CommentsAvatarLine {
    display: flex;
    align-items: self-end;
    margin-bottom: 10px;
}

.CommentsAvatarLine > div {
    margin-right: 10px !important;
}

.CommentLine button {
    flex: 0;
    align-self: baseline;
}

.noBefore::before {
    content: '';
    display: none;
}

@media (max-width: 768px) {
    .Container {
        width: 100%;
        margin: unset;
    }

    .CommentLine {
        margin-bottom: 50px;
        align-items: center;
    }
}