.Container {
    -webkit-flex: 3 0;
    flex: 3 0;
    max-width: 80%;
    height: -webkit-fill-available;
    border-left: 1px solid #cecccc;
    border-right: 1px solid #cecccc;
    display: flex;
    flex-direction: column;
}

.MentionPerson {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    background: #faffc9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MentionPerson img {
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgb(107 159 199 / 34%);
}

.MentionPerson span {
    font-weight: 600;
}

.LazyBackground {
    background: #e6ddf9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ImagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ImagesContainer > div > div {
    min-height: 190px;
    min-width: 135px;
    border-radius: 5px;
    margin: 10px;
}

#HF {
    height: 100%;
    max-width: unset;
}

.PostsCont {
    margin-bottom: 70px;
}

.PostsCont > div > div {
    text-align: left;
    padding: 1% 5%;
    position: relative;
    border-bottom: 1px solid #cecccc;
}

.PostsCont > div > div {
    padding: 2% 5%;
}

.PostsCont > div > div h3 {
    margin-top: unset;
}

.PostsCont p {
    word-break: break-all;
}

.Item:hover {
    background-color: #d6cbf0 !important;
}

.HashtagsContainer {
    margin: 10px 0px;
    display: flex;
    background: rgb(203, 203, 243);
    border-radius: 5px;
    flex-wrap: wrap;
}

.FiltersBar {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.HashtagsContainer span {
    color: #0088ff;
    background: #cce7ff;
    border-radius: 2px;
    padding: 2px 3px !important;
    height: fit-content;
    cursor: pointer !important;
    transition: all ease 0.5s !important;
    margin: 3px;
    flex: 1 0 10%;
}

.HashtagsContainer span:hover {
    opacity: 0.5;
}

.PostsCont a {
    text-decoration: none;
    color: black;
    transition: all ease 0.7s;
    font-size: 16px;
}

.PostsCont a:hover {
    color: rgb(73, 73, 248);
}

.EmotionContainer {
    border-top: 1px solid;
}

.PostsCont > div > div div p:last-of-type {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.PostsCont span {
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    cursor: pointer;
    transition: color ease 0.3s;
}

.Pheader {
    display: flex;
    align-items: center;
}

.SortLine {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 57.5%;
    background: aliceblue;
    bottom: 0;
    height: 7%;
    justify-content: space-evenly;
    align-items: center;
}

.SortLine button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dislike:hover {
    color: rgb(211, 59, 59);
    background: rgb(252, 208, 208);
    border-radius: 50%;
}

.like:hover {
    color: rgb(46, 153, 46);
    background: #d8f7d8;
    border-radius: 50%;
}

.com:hover {
    color: rgb(73, 73, 248);
    background: rgb(209, 209, 250);
    border-radius: 50%;
}

.com:hover + span {
    color: rgb(73, 73, 248);
}

.like:hover + span {
    color: rgb(46, 153, 46);
}

.dislike:hover + span {
    color: rgb(211, 59, 59);
}

.EmotionLine {
    display: flex;
    align-items: center;
    justify-content: center;
}

.PostsCont svg {
    cursor: pointer;
    height: 18px;
    width: 18px;
}

.Time {
    position: absolute;
    top: 0%;
    font-size: 13px !important;
    right: 1%;
    color: gray;
}

.SortLine span {
    display: flex;
    padding: 5px 6px;
    align-items: center;
    height: 35px;
}

.fixer {
    margin-top: 6.3%;
}

@media (max-width: 1440px) {
    .fixer {
        margin-top: 7.7%;
    }
}

@media (max-width: 1024px) {
    .fixer {
        margin-top: unset;
    }

    .Container {
        max-width: 100%;
    }

    .PostsCont {
        margin: unset;
    }

    .SortLine {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
    }

    .SortLine span {
        padding: 7px 10px;
        height: 30px;
    }
}


@media (max-width: 768px) {
    .fixer {
        margin-top: 7%;
    }

    .Container {
        margin: 0px;
    }

    .SortLine {
        width: 75%;
    }

    .PostsCont {
        margin-bottom: 55px;
    }
}

.tempHide {
    display: none;
}

.ldsRoller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 25%;
    margin-top: 20%;
}

.ImgPreview {
    cursor: pointer;
    transition: all ease 0.5s;
}

.PostItemsActions {
    position: absolute;
    top: 30px;
    right: 10px;
    height: 25px !important;
    width: 25px !important;
    padding: 3px;
}

.PostItemsActionsBox {
    position: absolute;
    background: aliceblue;
    padding: 5px 10px;
    border-radius: 5px;
    right: 10px;
    top: 55px;
}

.PostItemsActionsBox > div {
    display: flex;
    align-items: end;
    padding: 5px;
    cursor: pointer;
    transition: all ease 0.5s;
}

.ImageMenu {

}

.ImageMenu svg {
    font-size: 16px;
    color: black;
}

.ImageMenu p {
    font-size: 14px;
}

.PostItemsActionsBox > div:hover {
    background: #def0ff;
}

.PostItemsActionsBox > div > div {
    min-width: 0px !important;
}

.Item {
    position: relative !important;
    transition: all ease 0.5s;
}

.PostItemsActions:hover {
    color: rgb(73, 73, 248);
    background: rgb(209, 209, 250);
    border-radius: 50%;
}

.ImgPreview:hover {
    opacity: 0.7;
}

.ldsRoller div {
    animation: ldsRoller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.ldsRoller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #363434;
    margin: -4px 0 0 -4px;
}

.ldsRoller div:nth-child(1) {
    animation-delay: -0.036s;
}

.ldsRoller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.ldsRoller div:nth-child(2) {
    animation-delay: -0.072s;
}

.ldsRoller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.ldsRoller div:nth-child(3) {
    animation-delay: -0.108s;
}

.ldsRoller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.ldsRoller div:nth-child(4) {
    animation-delay: -0.144s;
}

.ldsRoller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.ldsRoller div:nth-child(5) {
    animation-delay: -0.18s;
}

.ldsRoller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.ldsRoller div:nth-child(6) {
    animation-delay: -0.216s;
}

.ldsRoller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.ldsRoller div:nth-child(7) {
    animation-delay: -0.252s;
}

.ldsRoller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.ldsRoller div:nth-child(8) {
    animation-delay: -0.288s;
}

.ldsRoller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes ldsRoller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 500px) {
    .fixer {
        margin-top: 10%;
    }

    .hide {
        display: none !important;
    }

    .open {
        display: block !important;
    }
}