.Container {
    margin: 0 0 0 15%;
    -webkit-flex: 3 0;
    flex: 3 0;
    max-width: 60%;
    height: -webkit-fill-available;
    border-left: 1px solid #cecccc;
    border-right: 1px solid #cecccc;
    display: flex;
    flex-direction: column;
}

.ImagesContainer {
    display: flex;
    flex-wrap: wrap;
}

.ImagesContainer > div {
    min-height: 160px;
    min-width: 110px;
    border-radius: 5px;
}

#HF {
    height: 100%;
    max-width: unset;
}

.PostsCont {
    margin-bottom: 70px;
    overflow-y: scroll;
}

.PostsCont > div {
    text-align: left;
    padding: 1% 5%;
    position: relative;
    border-bottom: 1px solid #cecccc;
}

.PostsCont > div {
    padding: 2% 5%;
}

.PostsCont > div h3 {
    margin-top: unset;
}

.PostsCont p {
    word-break: break-all;
}

.PostsCont > div:nth-child(2n) {
    background-color: #f6f2ff;
}

.PostsCont a {
    text-decoration: none;
    color: black;
    transition: all ease 0.7s;
}

.PostsCont a:hover {
    color: rgb(73, 73, 248);
}

.PostsCont > div div p:last-of-type {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.PostsCont span {
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    cursor: pointer;
    transition: color ease 0.3s;
}

.Pheader {
    display: flex;
    align-items: center;
}

.SortLine {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 60%;
    background: aliceblue;
    bottom: 0;
    height: 9%;
    justify-content: space-evenly;
    align-items: center;
}

.SortLine button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dislike:hover {
    color: rgb(211, 59, 59);
    background: rgb(252, 208, 208);
    border-radius: 50%;
}

.like:hover {
    color: rgb(46, 153, 46);
    background: #d8f7d8;
    border-radius: 50%;
}

.com:hover {
    color: rgb(73, 73, 248);
    background: rgb(209, 209, 250);
    border-radius: 50%;
}

.com:hover + span {
    color: rgb(73, 73, 248);
}

.like:hover + span {
    color: rgb(46, 153, 46);
}

.dislike:hover + span {
    color: rgb(211, 59, 59);
}

.EmotionLine {
    display: flex;
    align-items: center;
    justify-content: center;
}

.PostsCont svg {
    cursor: pointer;
    height: 18px;
    width: 18px;
}

.Time {
    position: absolute;
    top: 0%;
    font-size: 13px !important;
    right: 1%;
    color: gray;
}

.SortLine span {
    display: flex;
    padding: 5px 6px;
    align-items: center;
    height: 35px;
}

.fixer {
    margin-top: 6.3%;
}

@media (max-width: 1440px) {
    .fixer {
        margin-top: 7.7%;
    }
}

@media (max-width: 1024px) {
    .fixer {
        margin-top: unset;
    }

    .Container {
        max-width: 100%;
    }

    .PostsCont {
        margin: unset;
    }

    .SortLine {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
    }

    .SortLine span {
        padding: 7px 10px;
        height: 30px;
    }
}


@media (max-width: 768px) {
    .fixer {
        margin-top: 7%;
    }

    .Container {
        margin: 0px;
    }

    .SortLine {
        width: 75%;
    }

    .PostsCont {
        margin-bottom: 55px;
    }
}

.tempHide {
    display: none;
}

@media (max-width: 500px) {
    .fixer {
        margin-top: 10%;
    }

    .hide {
        display: none !important;
    }

    .open {
        display: block !important;
    }
}